<div class="drone" ng-controller="DroneCtrl as vm">
  <h2>
    Drone

    <span ng-if="!vm.drone.connected">
      <input type="text" placeholder="IP" ng-model="vm.droneAddress" />
      <button ng-click="vm.connect(vm.droneAddress)">Connect</button>
    </span>
    <span ng-if="vm.drone.connected">
      [socket]
      <span ng-if="!vm.drone.wii.connected">
        <select
          ng-options="device.pnpId for device in vm.drone.wii.devices"
          ng-model="vm.wiiDevice">
        </select>
        <button ng-click="vm.drone.wii.connect(vm.wiiDevice)">Connect</button>
      </span>
      <span ng-if="vm.drone.wii.connected">
        [wii]
      </span>
    </span>
  </h2>

  

  <section>
    <h3>Motors</h3>
    <div>
      m1: {{vm.drone.data.motor[0]}} - {{vm.drone.data.motorComputed[0]}}
    </div>
    <div>
      m2: {{vm.drone.data.motor[1]}} - {{vm.drone.data.motorComputed[1]}}
    </div>
    <div>
      m3: {{vm.drone.data.motor[2]}} - {{vm.drone.data.motorComputed[2]}}
    </div>
    <div>
      s5: {{vm.drone.data.servo[5]}}
    </div>
  </section>

  <section>
    <h3>Attitude / Altitude / Heading</h3>
    <div class="meters">
      <artificial-horizon
        roll="vm.drone.data.attitude.angles[0]"
        pitch="vm.drone.data.attitude.angles[1]/100"></artificial-horizon>
      <compass
        mag="vm.drone.data.rawImu.magADC"></compass>
      <altimeter
        altitude="vm.drone.data.range"></altimeter>
    </div>
  </section>

  <section>
    <h3>Controls</h3>
    Throttle:
    <adjustable-slider
      data="vm.throttle"
      style="width: 600px; height: 20px;"></adjustable-slider>
    Roll:
    <adjustable-slider
      data="vm.roll"
      style="width: 600px; height: 20px;"></adjustable-slider>
    Pitch:
    <adjustable-slider
      data="vm.pitch"
      style="width: 600px; height: 20px;"></adjustable-slider>
    Yaw:
    <adjustable-slider
      data="vm.yaw"
      style="width: 600px; height: 20px;"></adjustable-slider>
  </section>
</div>