<div class="drone" ng-controller="DroneCtrl as drone">
  <h2>Drone</h2>
  <input type="text" placeholder="IP" /> <button>Connect</button>

  <section>
    <h3>Motors</h3>
  </section>

  <section>
    <h3>Attitude / Altitude / Heading</h3>
    <artificial-horizon></artificial-horizon>
    <compass></compass>
    <altimeter altitude="137"></altimeter>
  </section>

  <section>
    <h3>Controls</h3>
    Throttle:
    <adjustable-slider min="1100" max="1900" middle="1100" value="1500" style="width: 600px; height: 20px;"></adjustable-slider>
    Roll:
    <adjustable-slider min="1100" max="1900" middle="1100" value="1000" style="width: 600px; height: 20px;"></adjustable-slider>
    Pitch:
    <adjustable-slider min="1100" max="1900" middle="1600" value="1200" style="width: 600px; height: 20px;"></adjustable-slider>
    Yaw:
    <adjustable-slider min="1100" max="1900" middle="1500" value="1100" style="width: 600px; height: 20px;"></adjustable-slider>
  </section>
</div>