<div class="drone" ng-controller="DroneCtrl as vm">
  <h2>Drone</h2>
  <input type="text" placeholder="IP" ng-model="vm.droneAddress" /> <button>Connect</button>

  <section>
    <h3>Motors</h3>
  </section>

  <section>
    <h3>Attitude / Altitude / Heading</h3>
    <div class="meters">
      <artificial-horizon roll="vm.drone.roll" pitch="vm.drone.pitch"></artificial-horizon>
      <compass degrees="vm.drone.heading"></compass>
      <altimeter altitude="vm.drone.altitude"></altimeter>
    </div>
  </section>

  <section>
    <h3>Controls</h3>
    Throttle:
    <adjustable-slider
      data="vm.throttle"
      style="width: 600px; height: 20px;"></adjustable-slider>
    Roll:
    <adjustable-slider
      data="vm.roll"
      style="width: 600px; height: 20px;"></adjustable-slider>
    Pitch:
    <adjustable-slider
      data="vm.pitch"
      style="width: 600px; height: 20px;"></adjustable-slider>
    Yaw:
    <adjustable-slider
      data="vm.yaw"
      style="width: 600px; height: 20px;"></adjustable-slider>
  </section>
</div>